@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}
 body, button, input{
     font-family: 'Roboto', sans-serif;
 }

 tr, th, td{
     text-align: center;
 }

 .container{
     display: flex;
     position: relative;
 }
 .container .header .fas{
     width: 24px;
     margin-right: 40px;
 }
 .container .sidebar{
     position: fixed;
     min-width: 200px;
     height: 100%;
     background: #303030;
     padding: 30px 0; 
}
.container .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.container .sidebar ul li{
    border-bottom: 1px solid rgba(65, 55, 55, 0.08);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.container .sidebar ul li a{
    color: #fff;
    display: block;
    text-align: center;
    padding: 15px;
}
.container .sidebar ul li:hover{
    background: #404040;
}

.container .main_content{
    width: 100%;
    margin-left: 200px;
}
.container .main_content .header{
    padding: 20px;
    background: #fff;
    color: #333;
    border-bottom: 1px solid #e0e4e8;
}
.container .main_content .info{
    margin: 30px;
    color: #333;
    line-height: 25px;
}
.info div{
    margin-bottom: 20px;
}